<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agri to C</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <div class="logo">
            <%= link_to 'Agri to C',root_path,class: 'logo' %>
          </div>
        </div>

        <span class="fa fa-bars menu-icon"></span>

       <div class="header-right">
         <%= link_to 'Agri to Cとは？',root_path %>
         <%= link_to '新規登録',new_user_path %>
         <%= link_to 'ログイン',login_path %>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>『農家と消費者をつなごう』<br>
        廃棄ゼロへ向けた挑戦！</h1>
        <div class="btn-wrapper">

          <%= link_to 'Agri to Cとは？',new_user_path, class: 'btn signup'  %>
          <%= link_to '新規登録はこちら',new_user_path, class: 'btn signup'  %>
        </div>
        </div>
        </div>


    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Agri to Cとは？</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_960_720.png" height="150" width="150">
              <h3>ミッション</h3>
            </div>
            <p class="text-contents">「農家と消費者を繋げる」をビジョンに農業を元気にしたいと考えています。</p>

          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_960_720.png" height="150" width="150">
              <h3>設立経緯</h3>
            </div>
            <p class="text-contents">農家の方は「儲からない」「もうすぐ辞める」と言う声が多く農業人口は急速に減少しています。
               根本原因として、年間廃棄が多くせっかく収穫した野菜が消費者に届いていない現状がありました。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
        　　　　<img src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_960_720.png" height="150" width="150">
            </div>
            <h3>農家と消費者を繋ぐ</h3>
            <p class="text-contents">投稿者は成功体験を投稿し合うことでメンバー同士の自信に繋げることができます。面接が上手くいった、電話応対ができた等々...</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_960_720.png" height="150" width="150">
              <h3>都心エリアのユーザーを取り込む</h3>
            </div>
            <p class="text-contents"></p>
          </div>


          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>あなたもAgri to Cに参加しませんか？</h2>
          <h3>まずは新規会員登録からお願いします。</h3>
        </div>

        <%= link_to '新規登録はこちら',new_user_path, class: 'btn message'  %>
      </div>
    </div>

  </body>
</html>
